footer {
    -ms-flex-align: center;
    align-items: center;
    padding: 45px 10px 35px 10px;
    background: black;
}

.footer {
    display: -ms-flexbox;
    display: flex;
    gap: 85px;
    opacity: 0.5;
    border-bottom: 1px solid #D3DAD7;
    padding-bottom: 35px;
}

.footer_title {
    margin: 70px 0 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_list_item {
    list-style: none;
    margin-top: 9px;
}

.footer_list_last {
    margin-top: 42px;
}

.footer_link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #B0BDB7;
    text-decoration: none;
    transition: 0.3s color;
}

.footer_link:hover {
    color: white;
}

.footer_bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 0 30px;
}

@media (max-width: 768px) {
    .footer_bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
    }
}

.copy_img {
    margin-right: 10px;
}

.social {
    margin-left: 10px;
}

.social a {
    text-decoration: none;
    margin-right: 34px;
}